.login-form{
    padding: 100px 50px;
    width: 90%;
    margin: auto;
    margin-top: 200px;
    background-color: var(--blackLite);
    color: var(--white);
}

.login-form input{
    width: 100%;
    padding: 15px 40px;
    margin: 8px auto;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: var(--blackLite);
    color: #fff;
    font-size: large;
}

.login-form form button {
  text-transform: uppercase;
  text-decoration: none;
  width: 100%;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 5px;
  transition: all 0.2s;
  
}

.login-form form button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.login-form form button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

@media (min-width: 440px) {
  .login-form{
    width: 50%;
  }
  
}

@media (min-width: 800px){
  .login-form{
    width: 40%;
  }
}

@media (min-width: 1200px){
  .login-form{
    width: 30%;
  }
}