/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --black: #000;
    --blackLite: #0c0c0c;
    --white: #fff;
    --correct: #17b44b;
}

html{
    font-size: 62.5%;
}

body{
    font-family: "Poppins", "Helvetica Neue", sans-serif;
     font-weight: 300;
     line-height: 1.9;
     height: 100%;
     overflow-x: hidden;
     background-color: var(--white);
     color: var(--white);
}

a{
    text-decoration: none;
    color: var(--white);
}

ul{
    list-style: none;
}
